@{
    ViewData["Title"] = "Diagrammer";
}

<div class="row justify-content-md-center">
    <svg width="960" height="500" id="chart-progress"></svg>
</div>

<div class="row justify-content-md-center">
    <svg width="960" height="500" id="chart-forecast"></svg>
</div>

@section scripts {
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="~/js/home-chart-progress.js"></script>
    <script type="text/javascript" src="~/js/home-chart-forecast.js"></script>
}
