body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', sans-serif;
}

h1 {
    font-size: 96px;
}

#status-front, #status-back {
    bottom: 15px;
    right: 15px;
    position: fixed;
}

#status-stats {
    bottom: 15px;
    left: 15px;
    position: fixed;
}

::selection {
    background: #FF0000;
    color: #FFFFFF;
}